In [1]:
import pandas as pd # Pre-requisite to run Pandas
from pandas import Series, DataFrame
import numpy as np # Pre-requisite to run numpy

In [2]:
# Name of File
file_name = "Bursa_financialServices_benchmark"
sheet_name = "Sheet1"

In [3]:
# Update to include Formatting
xlsx_file_name = file_name + ".xlsx"

In [4]:
# Extract Key Data from Raw Benchmark Data
benchmark_raw = pd.read_excel(xlsx_file_name, sheet_name)
benchmark_raw

,Financial Ratios,2020,2019,2018,2017,2016
0,General,NaN,NaN,NaN,NaN,NaN
1,Valuation,NaN,NaN,NaN,NaN,NaN
2,Price to Book,8.126068e+00,7.228567e+00,6.839563e+00,6.653040e+00,5.895812e+00
3,NaN,6.700000e+06,4.900000e+06,5.500000e+06,5.400000e+06,4.700000e+06
4,NaN,6.700000e+09,4.900000e+09,5.500000e+09,5.400000e+09,4.700000e+09
...,...,...,...,...,...,...
277,NaN,NaN,NaN,NaN,NaN,NaN
278,NaN,NaN,NaN,NaN,NaN,NaN
279,NaN,NaN,NaN,NaN,NaN,NaN
280,Miscellaneous,NaN,NaN,NaN,NaN,NaN
281,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
benchmark_raw = benchmark_raw.dropna()
benchmark_raw

,Financial Ratios,2020,2019,2018,2017,2016
2,Price to Book,8.126068,7.228567,6.839563,6.653040,5.895812
13,Price to Earnings,17.736739,25.849608,23.849376,23.456946,23.191438
21,Return on Equity,0.419348,0.249168,0.259862,0.266922,0.228417
25,Return on Capital Employed,0.546180,0.324321,0.336581,0.342155,0.294910
31,EBITDA to Revenue Ratio,0.678694,0.577077,0.631922,0.632505,0.623677
41,EBITDA to Cash Conversion,0.789371,0.673565,0.648027,0.743772,0.684930
50,Revenue to Expense Ratio,1.947835,1.643426,1.759434,1.724043,1.688876
55,Current Ratio,1.202994,1.211251,1.201852,1.250207,1.262987
59,Cash Ratio,0.124348,0.121174,0.110692,0.186660,0.140931
63,Operating Cash Flow Ratio,0.181070,0.121917,0.141224,0.184760,0.132951
67,Cash Conversion Ratio,1.104544,0.984543,0.929211,1.066887,0.996388
72,Debt Ratio,0.000000,0.000000,0.000000,0.000000,0.000000
76,Debt to Equity Ratio,0.000000,0.000000,0.000000,0.000000,0.000000
82,Interest Coverage Ratio,982.472119,518.867041,619.249064,617.229907,0.000000
91,Years to Repay Debt,0.000000,0.000000,0.000000,0.000000,0.000000
100,Average Interest Rate,0.000000,0.000000,0.000000,0.000000,0.000000
111,Dividend Yield,0.061446,0.034154,0.049123,0.052889,0.038305
116,Dividend Coverage Ratio,0.917559,1.132661,0.853571,0.806054,1.125682
123,Dividend Payout Ratio,1.089848,0.882877,1.171548,1.240612,0.888350

In [6]:
benchmark_raw = benchmark_raw.reset_index(drop = True)
benchmark_raw

,Financial Ratios,2020,2019,2018,2017,2016
0,Price to Book,8.126068,7.228567,6.839563,6.653040,5.895812
1,Price to Earnings,17.736739,25.849608,23.849376,23.456946,23.191438
2,Return on Equity,0.419348,0.249168,0.259862,0.266922,0.228417
3,Return on Capital Employed,0.546180,0.324321,0.336581,0.342155,0.294910
4,EBITDA to Revenue Ratio,0.678694,0.577077,0.631922,0.632505,0.623677
5,EBITDA to Cash Conversion,0.789371,0.673565,0.648027,0.743772,0.684930
6,Revenue to Expense Ratio,1.947835,1.643426,1.759434,1.724043,1.688876
7,Current Ratio,1.202994,1.211251,1.201852,1.250207,1.262987
8,Cash Ratio,0.124348,0.121174,0.110692,0.186660,0.140931
9,Operating Cash Flow Ratio,0.181070,0.121917,0.141224,0.184760,0.132951
10,Cash Conversion Ratio,1.104544,0.984543,0.929211,1.066887,0.996388
11,Debt Ratio,0.000000,0.000000,0.000000,0.000000,0.000000
12,Debt to Equity Ratio,0.000000,0.000000,0.000000,0.000000,0.000000
13,Interest Coverage Ratio,982.472119,518.867041,619.249064,617.229907,0.000000
14,Years to Repay Debt,0.000000,0.000000,0.000000,0.000000,0.000000
15,Average Interest Rate,0.000000,0.000000,0.000000,0.000000,0.000000
16,Dividend Yield,0.061446,0.034154,0.049123,0.052889,0.038305
17,Dividend Coverage Ratio,0.917559,1.132661,0.853571,0.806054,1.125682
18,Dividend Payout Ratio,1.089848,0.882877,1.171548,1.240612,0.888350

In [7]:
output_file_name = file_name + "_cleaned" + ".xlsx"
benchmark_raw.to_excel(output_file_name)